.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: #222222;
}
input {
	height: 30px;
	width: 250px;
	border: none;
	border-bottom: 1px solid whitesmoke;
	background: none;
	color: white;
	padding: 0 10px;
	outline: none;
}
.enter {
	width: 100px;
	height: 30px;
	font-size: 12px;
	background: none;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	margin-left: 10px;
}
.enter:hover {
	background-color: whitesmoke;
	color: #222222;
	cursor: pointer;
}
.todo__item {
	position: absolute;
	cursor: move;
	min-width: 215px;
	color: black;
	padding: 1em;
	border-radius: 5px;
}
.delete {
	position: absolute;
	right: 5px;
	top: 5px;
	background: none;
	border: none;
}
.delete:hover {
	color: red;
	cursor: pointer;
}
